<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>D3.js Demo</title>

    </head>
    <body>

        <script src="${rc.contextPath}\libs\d3.v3.js"></script>
        <script src="${rc.contextPath}\js\d3js_demo.js"></script>
    </body>
</html>