<!doctype html>
<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        Hello ${name}! Welcome!<br>

       #* <script type="text/javascript" src="${rc.contextPath}/libs/jquery-3.2.1.js"></script>*#
       <script type="text/javascript" src="${rc.contextPath}/libs/jquery-3.2.1.js"></script>
    </body>
</html>